{% extends 'base.html'%}
{% block head %}
	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">文件管理</a>
				</li>
				<li class="active">文件信息</li>
			</ul><!-- .breadcrumb -->
			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="icon-search nav-search-icon"></i>
					</span>
				</form>
			</div><!-- #nav-search -->
			<br>
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-sm-6">
					<div class="widget-box">
						<div class="widget-header header-color-blue2">
							<h4 class="lighter smaller">现有文件</h4>
						</div>
						<div class="widget-body">
							<div class="widget-main padding-8">								
								<!--
								{% for list in file_list %}
									<button class="btn btn-xs btn-danger" onclick="window.location='/files/info/?del={{list}}'">
										<i class="icon-trash bigger-120"><a>Delete</a></i>
									</button>  File Name    |   {{list}} 
									<hr> 
        						{%endfor%}
								-->
								<form class="" action="/files/download/" method="post">
									<table>
									<thead> <tr></tr></thead>
								
        							{% for list in file_list %}
									<tbody> <tr> <td>
            							<label class="checkbox-inline">
                 							<input type="checkbox" id="inlineCheckbox1" name="download" value="{{list}}">
                 								File Name | {{list}} 
         							    </label>	
										</td>
        							{%endfor%}
									</tr></tbody></table>
    								<hr>
    								<h1>请选择要下载的文件</h1>
									<br>
    								<button type="submit" class="btn btn-sm btn-info">
										下载 <i class="icon-download bigger-120"></i>
									</button>
    							</form>	

							</div>
						</div>
					</div>
				</div>
				{{log}}
	</div>
{% endblock %}

